@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&family=Ubuntu:wght@300&display=swap');

:root {
    --main-text-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    --main-bg-color: orange;
    font-size: 15px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    position: relative;
}
