.btn {
    color: black;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
   
}

.xs {
    display: none;
}

@media  (768px <= width) {
    .xs {
        display: block;
    }

}