.footer {
    background-color: var(--main-bg-color);
}

.footer .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__redsocial__iconos {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
}

.footer__redsocial__iconos img {
    height: 24px;
    width: 24px;
}

.footer__text {
    display: flex;
    justify-content: center;
}