.header {
    position: sticky;
    background-color: orange;
    z-index: 999;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, rgba(195,251,63,1) 0%, rgba(252,70,107,1) 100%);

}

.header .header__image {
    width: 130px;
}

.header__image img {
    width: 100%;
}

.header .header__nav .header__nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__nav .header__nav__list .header__nav__list__btn a {
    text-decoration: none;
    font-weight: 500;
}