.projects {
    width: 90%;
    margin: 0 auto;
}

.projects__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.projects .projects__list img {
    object-fit: cover;
    /*max-height: 150px;*/
    width: 100%;

}

.projects .projects__list figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

@media only screen and (min-device-width: 768px) {
    .projects__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }