.progres-bar {
    width: 100%;
    height: 20px;
    background-color: transparent;
    border: 1px solid black;
    position: relative;
    box-sizing: content-box;
}

.title__skills {
    padding: 16px;
}

.hability__fuerza {
    position: absolute;
    animation: slidein 2s;
    height: 20px;
    width: 90%;
    top: 0;
    left: 0;
    background-color: red;
    --fill: 90%;
}
.hability__velocidad {
    position: absolute;
    animation: slidein 2s;
    height: 20px;
    width: 70%;
    top: 0;
    left: 0;
    background-color: red;
    --fill: 70%;
}
.hability__inteligencia {
    position: absolute;
    animation: slidein 2s;
    height: 20px;
    width: 60%;
    top: 0;
    left: 0;
    background-color: red;
    --fill: 60%;
}
.hability__defensa {
    position: absolute;
    animation: slidein 2s;
    height: 20px;
    width: 50%;
    top: 0;
    left: 0;
    background-color: red;
    --fill: 50%;
}

.skill {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    
}


.skills {
    display: flex;
    flex-wrap: wrap;
}

@keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: --fill 
    }
}


@media only screen and (min-device-width: 768px) {
    .skill {
        width: 50%;
    }
}